aiosqlite
rapidfuzz
aiohttp           # For async HTTP requests (TMDB API)
asyncio
pillow            # For image manipulation (if you resize/process thumbnails) - optional for now
tgcrypto
pyrogram==2.0.106
python-dotenv==1.0.1
aiohttp==3.9.5
TheMovieDbWrapper==1.7.0
loguru==0.7.2
